# requirements.txt
fastapi
uvicorn
sqlalchemy
pydantic
numpy
sentence-transformers
scikit-learn
python-dotenv
pydantic-settings
apache-airflow


astro-run-dag # This package is needed for the astro run command. It will be removed before a deploy